.add_bot_button {
	display: inline-block;
	border: solid;
	border-color: blue;
	border-radius: 25% 10%;
}

a.add_bot_button {
   text-align: center;
   font-size: 15px;
   font-family: 'Signika', sans-serif;
   cursor: pointer;
   text-decoration: none;
   color: #fff;
}