<!DOCTYPE html>
<html lang="en">
    <link href="/../static/header.css" rel="stylesheet" />
    <link href="/../static/font.css" rel="stylesheet" />
    <link href="/../static/test.css" rel="stylesheet" />
    <link href="/static/images/logo1.png" rel="icon" />

<head>
    <meta charset="UTF-8">
    <title>TomBot</title>
</head>
<body>

    <header class="header">
      <div class="container">
        <div class="header_box">
          <div>
              <a href="{{ url_for('default_ru') }}">
                  <img src="/static/images/logo1.png" width="40" height="40"></img>
              </a>
          </div>

          <nav class="nav">
            <a class="nav" href="{{ url_for('default_ru') }}">Главная</a>
            <a class="nav" href="#">Что-то</a>
            <a class="nav" href="#">О нас</a>
            <a class="nav" href="#">Вход</a>
          </nav>
        </div>
      </div>
    </header>

    <div class="wrapper">
        <span>T</span>
        <span>o</span>
        <span>m</span>
        <span>B</span>
        <span>o</span>
        <span>t</span>
    </div>

    <div class="max_bottom">
        <p class="text">by dm1</p>
        <p class="text">P.S. Да, я спиздил эту анимацию.</p>
    </div>

    <div class="lang_container">
        <nav>
            <a class="lang_nav" href="{{ url_for('default_ru') }}">Ru</a>
            <a style="color: #fff; font-family: 'Signika', sans-serif; font-size: 15px; cursor: default;">|</a>
            <a class="lang_nav" href="{{ url_for('default') }}">En</a>
        </nav>
    </div>

</body>
</html>